:root {
  --accent-color: #212121; /* navigation, titles */
  --second-color: #757575; /* contact list, text*/
  --active-color: #2196f3; /* first part logo, hover and focus, button bg */
  --third-color: #ffffff; /* background */
  --hero-footer-bgcolor: #2f303a;
  --bgcolor-second: #f5f4fa; /* bg color cection(our team) and portfolio buttons*/
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
}
body {
  font-family: "Roboto", sans-serif;
}
img {
  display: block;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.link {
  /* remove all decoration from links */
  display: block;
  text-decoration: none;
}
.list {
  /* remove all markrers from ul */
  list-style: none;
}
.card {
  /* фон карточки*/
  background: var(--third-color);
}

/* --------------------header-------------------- */
.header {
  background: var(--third-color);
  border-bottom: 1px solid #ececec;
}
.header .conteiner {
  display: flex;
}
.header .nav-menu {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--active-color);
  margin-right: 93px;
}
.dark {
  /* second part logo */
  color: var(--accent-color);
}

.nav-list .link.current::after {
  position: absolute;
  content: "";
  display: block;
  bottom: -1px;

  width: 100%;
  height: 4px;
  background-color: var(--active-color);
  border-radius: 2px;
}
.header .link {
  transition: color var(--transition-duration) var(--timing-function);
}
.header .link:hover,
.header .link:focus {
  color: var(--active-color);
}
.nav-menu {
  margin-right: auto;
}
.nav-list {
  display: flex;
  align-items: center;
}
.list-logo {
  margin-right: 93px;
}
.nav-list .link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-menu .list-item:not(:last-child) {
  margin-right: 50px;
}
.list-item .link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.link.current {
  color: var(--active-color);
}

.icon {
  margin-right: 10px;
  fill: var(--second-color);
}
.contact-list .link:hover .icon {
  fill: var(--active-color);
}

.contact-list .link {
  display: flex;
  align-items: center;
}
.contact-list {
  display: flex;
  align-items: center;
}
.contact-list .list-item:not(:last-child) {
  margin-right: 50px;
}
.contact-list .link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
}

/* --------------------main-------------------- */
/* ----------hero---------- */
.hero {
  background: var(--hero-footer-bgcolor);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/main-paige/hero/hero.jpg);
  background-color: #c4c4c4;
  max-width: 1600px;
  max-height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  max-width: 696px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  color: var(--third-color);
  margin-bottom: 30px;
}
.hero .button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--third-color);
  background: var(--active-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  transition: background var(--transition-duration) var(--timing-function);
}
.hero .button:hover,
.hero .button:focus {
  background: #188ce8;
  color: var(--third-color);
  font-family: "Roboto", sans-serif;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-duration) var(--timing-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: var(--third-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  background-image: url(../images/main-paige/hero/close.svg);
  background-size: contain;
  background-color: #fff;
  width: 30px;
  height: 30px;
  border: 0;
  cursor: pointer;
}
/* ------section:specials------ */
.specials {
  padding-top: 94px;
}
.spec-list {
  display: flex;
}
.spec-item {
  background-repeat: no-repeat;
  width: 270px;
}

.spec-item:not(:last-child) {
  margin-right: 30px;
}
.spec-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.specials .item-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--accent-color);
}
.spec-item .item-image {
  width: 270px;
  height: 120px;
  background: url(../images/main-paige/Rectangle\ 3.jpg);
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin-bottom: 0;
}
/* ----section:our job---- */
.our-job {
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-job .job-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-bottom: 50px;
}
.job-list {
  display: flex;
}
.job-list .list-item {
  width: 370px;
  position: relative;
}
.job-list .list-item:not(:last-child) {
  margin-right: 30px;
}
.job-list .list-text {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 370px;
  height: 70px;
  padding: 27px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: var(--third-color);
}

/* ----------our team---------- */
.our-team {
  background: var(--bgcolor-second);
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-team .list-item {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-bottom: 50px;
}
.team-list {
  display: flex;
}

.our-team .list-item:not(:last-child) {
  margin-right: 30px;
}
.our-team .item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--accent-color);
}
.our-team .item-text {
  font-style: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin-bottom: 16px;
}
.icon-list {
  display: flex;
  justify-content: space-between;
}
.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  transition: background-color var(--transition-duration) var(--timing-function);
}
.team-icon {
  fill: #afb1b8;
  transition: fill var(--transition-duration) var(--timing-function);
}

.icon-link:hover,
.icon-link:focus {
  background-color: var(--active-color);
}
.icon-link:hover svg,
.icon-link:focus svg {
  fill: var(--third-color);
}

.description-card {
  padding: 30px 32px;
}
/* -----------regular-customers----------- */

.regular-customers {
  padding: 94px 0;
}

.customers-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--accent-color);
}

.customers-list {
  display: flex;
}

.customers-list .list-item:not(:last-child) {
  margin-right: 30px;
}
.customers-list .item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.regular-customers .link-image {
  fill: #afb1b8;
  transition: fill var(--transition-duration) var(--timing-function);
}
.customers-list .item-link:hover,
.customers-list .item-link:focus {
  border: 1px solid var(--active-color);
}
.customers-list .item-link:hover svg,
.customers-list .item-link:focus svg {
  fill: var(--active-color);
}

/* --------------------footer-------------------- */

.footer .conteiner {
  display: flex;
  align-items: baseline;
}
.footer {
  background: var(--hero-footer-bgcolor);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-info {
  display: flex;
}
.footer-items {
  margin-right: 70px;
}
.footer .logo {
  display: block;
  margin-bottom: 20px;
  margin-right: 0;
}

.white {
  color: var(--third-color);
}
.address-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-color);
  margin-bottom: 9px;
}

.address-link.link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-duration) var(--timing-function);
}

.footer-items .list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer .address-link:hover,
.footer .address-link:focus {
  color: var(--active-color);
}

.footer-links .links-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-color);
  margin-bottom: 20px;
}
.footer-links .title-list {
  display: flex;
}

.footer-links .list-item:not(:last-child) {
  margin-right: 10px;
}
.footer-links .item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background var(--transition-duration) var(--timing-function);
}
.footer-links .item-link:hover,
.footer-links .item-link:focus {
  background: var(--active-color);
}
.footer-links .link-image {
  fill: var(--third-color);
}
/* --------------------Portfolio-------------------- */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.selection-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.selection-list .list-item:not(:last-child) {
  margin-right: 8px;
}
.selection-list .button:hover,
.selection-list .button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background: var(--active-color);
  color: var(--third-color);
}
.portfolio .button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  background: var(--bgcolor-second);
  color: var(--accent-color);
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background var(--transition-duration) var(--timing-function),
    box-shadow var(--transition-duration) var(--timing-function),
    color var(--transition-duration) var(--timing-function);
}

.button.current {
  background: var(--active-color);
  color: var(--third-color);
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
}
.context {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.projects-list .list-item {
  box-sizing: border-box;
  min-width: 370px;
}
.projects-list .item-link {
  transition: box-shadow var(--transition-duration) var(--timing-function);
}

.projects-list .item-link:hover,
.projects-list .item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-list .list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.projects-list .list-item:not(:nth-last-child(3n + 1)) {
  margin-right: 30px;
}
.projects-list .link-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
  letter-spacing: 0.06em;
  color: var(--accent-color);
}
.projects-list .link-text {
  font-style: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
.projects-list .list-img {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, +100%);

  display: block;
  width: 370px;
  height: 294px;

  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--third-color);
  background: rgba(33, 150, 243, 0.9);
  transition: opacity var(--transition-duration) var(--timing-function);
  transition: transform var(--transition-duration) var(--timing-function);
}
.projects-list .item-link:hover .overlay,
.projects-list .item-link:focus .overlay {
  transform: translate(0, 0);
}
